In [2]:
import pandas as pd
pd.__version__

'0.25.1'

In [9]:
df = pd.read_csv("C:\\Users\\Fenil\\Pandas-Tutorial-master\\RegularSeasonCompactResults.csv")
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [7]:
df.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

In [10]:
df.tail()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

In [12]:
df.shape

(145289, 8)

In [15]:
df.columns.tolist()

['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc', 'Numot']

In [20]:
df.columns

Index(['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc',
       'Numot'],
      dtype='object')

In [65]:
#df.index.tolist()

In [22]:
df.index

RangeIndex(start=0, stop=145289, step=1)

In [23]:
df.max()

Season    2016
Daynum     132
Wteam     1464
Wscore     186
Lteam     1464
Lscore     150
Wloc         N
Numot        6
dtype: object

In [28]:
df.columns

Index(['Season', 'Daynum', 'Wteam', 'Wscore', 'Lteam', 'Lscore', 'Wloc',
       'Numot'],
      dtype='object')

In [33]:
df['Season']# df.Season

0         1985
1         1985
2         1985
3         1985
4         1985
          ...
145284    2016
145285    2016
145286    2016
145287    2016
145288    2016
Name: Season, Length: 145289, dtype: int64

In [34]:
df[['Season','Wteam','Lscore']]

        Season  Wteam  Lscore
0         1985   1228      64
1         1985   1106      70
2         1985   1112      56
3         1985   1165      54
4         1985   1192      74
...        ...    ...     ...
145284    2016   1114      50
145285    2016   1163      58
145286    2016   1246      77
145287    2016   1277      62
145288    2016   1386      74

[145289 rows x 3 columns]

In [35]:
df['Lscore'].max()

150

In [36]:
df['Lscore'].mean()

64.49700940883343

In [37]:
df.describe()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Numot
count,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000,145289.000000
mean,2001.574834,75.223816,1286.720646,76.600321,1282.864064,64.497009,0.044387
std,9.233342,33.287418,104.570275,12.173033,104.829234,11.380625,0.247819
min,1985.000000,0.000000,1101.000000,34.000000,1101.000000,20.000000,0.000000
25%,1994.000000,47.000000,1198.000000,68.000000,1191.000000,57.000000,0.000000
50%,2002.000000,78.000000,1284.000000,76.000000,1280.000000,64.000000,0.000000
75%,2010.000000,103.000000,1379.000000,84.000000,1375.000000,72.000000,0.000000
max,2016.000000,132.000000,1464.000000,186.000000,1464.000000,150.000000,6.000000

In [38]:
#SQL Like Querry
df[df.Season>2002]

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
74048     2003      10   1104      68   1328      62    N      0
74049     2003      10   1272      70   1393      63    N      0
74050     2003      11   1266      73   1437      61    N      0
74051     2003      11   1296      56   1457      50    N      0
74052     2003      11   1400      77   1208      71    N      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[71241 rows x 8 columns]

In [43]:
print(df.Wscore.max())
print(df['Wscore'].max())

186
186

In [44]:
df[df.Wscore==df['Wscore'].max()] #Give a row when Winning team's score is max

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

In [46]:
df[['Lscore','Season']][df.Wscore==df['Wscore'].max()] #Only give Lscore and Season while winning team's score was max

       Lscore  Season
24970     140    1991

In [47]:
df.index

RangeIndex(start=0, stop=145289, step=1)

In [48]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [53]:
df.set_index('Season',inplace=True)

KeyError: "None of ['Season'] are in the columns"

In [52]:
df

        Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
Season
1985        20   1228      81   1328      64    N      0
1985        25   1106      77   1354      70    H      0
1985        25   1112      63   1223      56    H      0
1985        25   1165      70   1432      54    H      0
1985        25   1192      86   1447      74    H      0
...        ...    ...     ...    ...     ...  ...    ...
2016       132   1114      70   1419      50    N      0
2016       132   1163      72   1272      58    N      0
2016       132   1246      82   1401      77    N      1
2016       132   1277      66   1345      62    N      0
2016       132   1386      87   1433      74    N      0

[145289 rows x 7 columns]

In [55]:
df.loc['2016']

        Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
Season
2016        11   1104      77   1244      64    H      0
2016        11   1105      68   1408      67    A      1
2016        11   1112      79   1334      61    H      0
2016        11   1115      58   1370      56    A      0
2016        11   1116      86   1380      68    H      0
...        ...    ...     ...    ...     ...  ...    ...
2016       132   1114      70   1419      50    N      0
2016       132   1163      72   1272      58    N      0
2016       132   1246      82   1401      77    N      1
2016       132   1277      66   1345      62    N      0
2016       132   1386      87   1433      74    N      0

[5369 rows x 7 columns]

In [56]:
df.reset_index(inplace=True)

In [57]:
df

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0         1985      20   1228      81   1328      64    N      0
1         1985      25   1106      77   1354      70    H      0
2         1985      25   1112      63   1223      56    H      0
3         1985      25   1165      70   1432      54    H      0
4         1985      25   1192      86   1447      74    H      0
...        ...     ...    ...     ...    ...     ...  ...    ...
145284    2016     132   1114      70   1419      50    N      0
145285    2016     132   1163      72   1272      58    N      0
145286    2016     132   1246      82   1401      77    N      1
145287    2016     132   1277      66   1345      62    N      0
145288    2016     132   1386      87   1433      74    N      0

[145289 rows x 8 columns]

In [58]:
df.loc[10000]

Season    1987
Daynum      96
Wteam     1379
Wscore      71
Lteam     1376
Lscore      57
Wloc         H
Numot        0
Name: 10000, dtype: object

In [62]:
import numpy
df.iloc[[df['Wscore'].argmax()]]

C:\Users\Fenil\Anaconda3\envs\tensorflow\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0

In [64]:
df.iloc[[df['Wscore'].idxmax()]]

       Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
24970    1991      68   1258     186   1109     140    H      0